@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav__lnks {
  list-style: none;
}

.nav__lnks li{
  display: inline-block;
  padding 0px 20px;
}

.nav__lnks li a {
  transition: all 0.3s ease 0s;
  margin: 10px;
}

.nav__lnks li a:hover {
  color: #0088a9
}

button {
  background-color: rgba(0,136,169,1);
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.btn__lnks {
  list-style: none;
}

.btn__lnks li{
  display: inline-block;
  padding 0px 20px;
}

.btn__lnks li a {
  transition: all 0.3s ease 0s;
  margin: 10px;
}

.btn__lnks li a:hover {
  color: #0088a9
}



